*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Space Grotesk', sans-serif;
  font-size: var(--fontSizeMobile);
}

body {
  height: 100vh;
}

img {
  max-width: 100%;
}

:root {
  --error: hsl(0, 100%, 66%);
  --lightViolet: hsl(270, 3%, 87%);
  --darkViolet: hsl(279, 6%, 55%);
  --veryDarkViolet: hsl(278, 68%, 11%);
  --fontSizeMobile: 1rem;
  --fontSizeDesktop: 1.125rem;
  --fontSizeCard: 0.7rem;
}

.error__message {
  color: var(--error);
  font-size: 1.125rem;
}

.error__message:empty {
  display: none;
}

.field:has(small:not(:empty)) label{
  color: var(--error);
}

.field:has(small:not(:empty)) input{
  border-color: var(--error);
}

.left__section {
  background-image: url(images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 210px;
}

.cards {
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 1.2em;
}

.back__card {
  position: relative;
  left: 2em;
}

.front__card {
  position: relative;
  top: -4.2em;
  right: 2em;
}

.card__container {
  position: absolute;
  top: 20%;
  left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card__info {
  color: var(--lightViolet);
}

.cvv__card {
  font-size: var(--fontSizeCard);
  position: absolute;
  top: 43%;
  right: 10%;
  color: var(--lightViolet);
}

.date {
  font-size: var(--fontSizeCard);
  position: relative;
  top: 3em;
  left: 9em;
}

.number {
  width: 100%;
  letter-spacing: 2px;
  font-size: var(--fontSizeCard);
  position: relative;
  top: 2em;
  left: 1em;
}

.name {
  text-transform: uppercase;
  font-size: var(--fontSizeCard);
  position: relative;
  top: 3em;
  left: 1em;
}

.card__logo {
  height: 30px;
  position: relative;
  top: -1em;
  right: 2.9em;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.input {
  height: 40px;
  border: 1px solid var(--lightViolet);
  border-radius: 10px;
  padding: 0 1em;
  font-size: .9em;
  margin-bottom: 1em;
}

.input:hover,
.input:focus {
  cursor: pointer;
  border: 2px solid transparent;
  border-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(hsl(249, 99%, 64%)),
    to(hsl(278, 94%, 30%))
  );
  border-image: linear-gradient(right, 
  hsl(249, 99%, 64%), 
  hsl(278, 94%, 30%)
  );
  border-image-slice: 1;
}

.form {
  margin-top: 5em;
}

.field {
  display: flex;
  flex-direction: column;
}

.field__label {
  text-transform: uppercase;
  margin-bottom: .3em;
  letter-spacing: 1.5px;
  color: var(--veryDarkViolet);
}


.two__fields {
  display: flex;
  flex-direction: row;
}

.field__date {
  width: 55%;
}

.field__cvv {
  width: 45%;
}

.small__input {
  margin-top: .3em;
  width: 45%;
}

.bigger__input {
  margin-top: .3em;
  width: 100%;
}

.btn {
  background-color: var(--veryDarkViolet);
  color: white;
  font-size: var(--fontSizeDesktop);
  width: 100%;
  font-weight: bold;
  padding: .7em;
  border: transparent;
  border-radius: 5px;
  margin-top: 1em;
}


.completed__form {
  text-align: center;
}

.img__ok {
  margin: 5em 0 1.5em 0;
}

.title {
  margin-bottom: .7em;
}

.continue {
  margin-top: 2em;
  background-color: var(--veryDarkViolet);
  color: white;
  font-size: var(--fontSizeDesktop);
  width: 100%;
  font-weight: bold;
  padding: .7em;
  border: transparent;
  border-radius: 5px;
  margin-top: 1em;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

@media (min-width: 1000px){
  html {
    font-size: var(--fontSizeDesktop);
  }

  .d-flex{
    display: flex;
    justify-content: space-between;
  }

  .left__section {
    width: 30%;
    height: 100vh;
    position: relative;
  }

  .right__section {
    width: 30%;
    display: grid;
    place-items: center;
  }

  .cards {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
  }

  .front__card {
    position: relative;
    top: -12em;
    right: 6em;
  }

  .card__logo {
    height: 50px;
    position: relative;
    top: -2em;
    right: 4em;
  }

  .back__card {
    position: relative;
    top: 16em;
    left: -1em;
  }

  .cvv__card {
    font-size: var(--fontSizeDesktop);
  }

  .name {
    font-size: var(--fontSizeDesktop);
    position: relative;
    top: 3em;
  }

  .date {
    font-size: var(--fontSizeDesktop);
    position: relative;
    top: 3em;
    left: 8em;
  }

  .number {
    font-size: var(--fontSizeDesktop);
    position: relative;
    top: 2em;
  }
  
  .before__complete {
    width: 50%;
    display: grid;
    place-items: center;
  }
  
  .visible {
    display: block;
  }

  .invisible {
    display: none;
  }

}
